<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="springAppName" source="spring.zipkin.service.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread{24}] %highlight(%-5level) [%green(%X{traceId})] [%cyan(%X{spanId})]
                %logger{36} -%kvp- %msg%n
            </pattern>
        </encoder>
    </appender>

    <springProfile name="dev,sit,uat,composite">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>